<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Página de login</title>
</head>
<body>
    {{>_navbar}}
    <div class="container p-4">
        {{{body}}}
    </div>
    <span style="position: absolute; right: 20px; bottom: 20px;">&copy; Desenvolvido por Gabriel A.</span>
</body>
</html>