<h1>Cadastro</h1>
<hr>

<div class="card mt-4 p-3">
    <form action="/cadastrar/sucesso" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome..." class="form-control mb-3">
    
        <label for="idade">Idade:</label>
        <input type="number" name="idade" id="idade" placeholder="Digite sua idade..." class="form-control mb-3" min="12" max="112">
    
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Digite seu email..." class="form-control mb-3">
    
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" placeholder="Digite sua senha..." class="form-control mb-3">
    
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </form>
</div>