<h1>Login</h1>
<hr>

<div class="card mt-4 p-3">
    <form action="/login/autenticar" method="POST">
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" class="form-control mb-3" placeholder="Digite seu email...">
    
        <label for="password">Senha: </label>
        <input type="password" name="senha" id="password" class="form-control mb-3" placeholder="Digite sua senha...">
    
        <input type="submit" value="Logar" class="btn btn-primary">
        <a href="/cadastro" class="btn btn-primary">Cadastrar-se</a>
    </form>
</div>