* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#tm {
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 0.8;
    font-size: .8em;
}

.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* Os formulários são editados com o bootstrap */